.row {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  padding: 1rem;
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
  border: 1px solid rgba(0, 0, 0, 0.59);
}
